@charset "utf-8";

@import "sass/config";
@import "sass/fonts";

@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
@import "~bulma/sass/elements/box";
@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/content";
@import "~bulma/sass/elements/image";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/components/level";
@import "~bulma/sass/grid/columns";
@import "~bulma/sass/layout/hero";

.social-link {
  display: flex;
  border: 2px solid $black;
  align-items: center;
  padding: 1em;
  margin-bottom: 1em;

  .image {
    margin-right: 1em;
  }
}
