// Change the language of tip solitication to your liking.
// Set address and accepted crypto currencies in the config file.

.content
  h1 Tips
  p.
    Any tips and donations is greatly appreciated! You may send any of
    the following coins to the address below. Thank you!
